
body{
    font-size: 14px;
}

.title{
    font-size: 20px;
    margin: 15px;
}

.form{
    margin: 0px 15px;
}

.form div{
    margin-bottom: 10px;
}

.accounts {
    background-color: #f8f8ff;
    border: 1px #708090 solid;
}

.accounts thead{
    font-weight: bold;
}
