<component name="libraryTable">
  <library name="spring-security-3.1.3" type="spring-security">
    <properties version="3.1.3" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-security-acl-3.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-aspects-3.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-cas-3.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config-3.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-core-3.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-crypto-3.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-ldap-3.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-openid-3.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-remoting-3.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-taglibs-3.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-web-3.1.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>